*.la
*.lo
*.o
src/build
potrace/Makefile
potrace/check/.deps/
potrace/check/Makefile
potrace/config.h
potrace/config.log
potrace/config.status
potrace/doc/Makefile
potrace/doc/mkbitmap.1
potrace/doc/potrace.1
potrace/src/.deps/
potrace/src/.libs/
potrace/src/Makefile
potrace/src/mkbitmap
potrace/src/potrace
potrace/stamp-h1
